html, body {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.3em;
  min-height: 100%;
  background-color: #304055; }

nav.navbar.navbar-default,
footer {
  background-color: #0A1432;
  background-image: none;
  border: none; }

#header {
  background: url(/images/header.jpg) no-repeat center;
  background-size: cover;
  height: 200px; }
  #header .logo {
    height: 150px;
    margin-top: 25px; }

#navbar {
  text-transform: uppercase;
  margin-left: -15px; }
  #navbar .nav > li.active > a,
  #navbar .navbar-nav > .open > a {
    background: none;
    color: #69A8DB; }
  #navbar .nav > li > a {
    color: #FFFFFF;
    font-size: 1em; }
    #navbar .nav > li > a:hover {
      color: #69A8DB; }

footer {
  margin-top: 20px; }
